USE [Toco1]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 03/30/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[Hoten] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Sdt] [nvarchar](20) NOT NULL,
	[NhomQuyen] [int] NOT NULL,
 CONSTRAINT [PK__NguoiDun__D5B8C7F1108B795B] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NguoiDung] ([TaiKhoan], [MatKhau], [Hoten], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [NhomQuyen]) VALUES (N'admin', N'admin', N'Đàm Phương T', 0, CAST(0x32250B00 AS Date), N'Ho Chi Minh', N'0337544235', 1)
INSERT [dbo].[NguoiDung] ([TaiKhoan], [MatKhau], [Hoten], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [NhomQuyen]) VALUES (N'mra', N'mra', N'Nguyen Van A', 1, CAST(0x65240B00 AS Date), N'Ha Noi', N'0394837462', 2)
INSERT [dbo].[NguoiDung] ([TaiKhoan], [MatKhau], [Hoten], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [NhomQuyen]) VALUES (N'mrb', N'mrb', N'ABC', 1, CAST(0x46240B00 AS Date), N'Ha Noi', N'0384957324', 2)
/****** Object:  Table [dbo].[LienHe]    Script Date: 03/30/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLienHe] [int] IDENTITY(1,1) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Sdt] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLienHe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiThieu]    Script Date: 03/30/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiThieu](
	[NoiDung] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[GioiThieu] ([NoiDung]) VALUES (N'Luôn tâm huyết với việc khai thác nguồn nông sản Việt Nam để tạo ra những ly thức uống tươi ngon, an toàn và giàu giá trị dinh dưỡng, ToCoToCo mở cửa hàng đầu tiên vào năm 2013, mang trong mình lòng đam mê và khát vọng xây dựng một thương hiệu trà sữa thuần Việt, mang đậm hương vị quê hương.ToCoToCo tin rằng thưởng thức một ly trà sữa được pha chế từ trà Mộc Châu, trân châu từ sắn dây Nghệ An hay mứt dâu tằm từ Đà Lạt sẽ là những trải nghiệm hoàn toàn khác biệt và tuyệt vời nhất cho những khách hàng của mình.')
/****** Object:  Table [dbo].[DanhmucSanPham]    Script Date: 03/30/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhmucSanPham](
	[MaDanhmuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__DanhmucS__9B709EB57F60ED59] PRIMARY KEY CLUSTERED 
(
	[MaDanhmuc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhmucSanPham] ON
INSERT [dbo].[DanhmucSanPham] ([MaDanhmuc], [TenDanhMuc]) VALUES (1, N'Trà sữa')
INSERT [dbo].[DanhmucSanPham] ([MaDanhmuc], [TenDanhMuc]) VALUES (2, N'Trà trái cây')
INSERT [dbo].[DanhmucSanPham] ([MaDanhmuc], [TenDanhMuc]) VALUES (3, N'Đồ uống đặc biệt')
SET IDENTITY_INSERT [dbo].[DanhmucSanPham] OFF
/****** Object:  Table [dbo].[SanPham]    Script Date: 03/30/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](20) NOT NULL,
	[ImgUrl] [nvarchar](100) NOT NULL,
	[Gia] [float] NOT NULL,
 CONSTRAINT [PK__SanPham__FAC7442D03317E3D] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON
INSERT [dbo].[SanPham] ([MaSanPham], [MaDanhMuc], [TenSanPham], [Size], [ImgUrl], [Gia]) VALUES (1, 1, N'  Hong Tra', N'M', N'images/hongtra.jpg', 25000)
INSERT [dbo].[SanPham] ([MaSanPham], [MaDanhMuc], [TenSanPham], [Size], [ImgUrl], [Gia]) VALUES (2, 1, N'Match Đậu Đỏ', N'M', N'images/matchadaudo.jpg', 25000)
INSERT [dbo].[SanPham] ([MaSanPham], [MaDanhMuc], [TenSanPham], [Size], [ImgUrl], [Gia]) VALUES (3, 1, N'O Long Trân Châu Kem', N'M', N'images/trasuakem.jpg', 25000)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 03/30/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[MaDonHangCT] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[SoLuongSP] [float] NOT NULL,
	[Gia] [float] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK__DonHangC__A906DF67182C9B23] PRIMARY KEY CLUSTERED 
(
	[MaDonHangCT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 03/30/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[SoLuongSP] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[Gia] [float] NOT NULL,
	[MaDonHangCT] [int] NULL,
 CONSTRAINT [PK__DonHang__129584AD38996AB5] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON
INSERT [dbo].[DonHang] ([MaDonHang], [NgayDatHang], [TaiKhoan], [SoLuongSP], [Total], [TenSanPham], [Gia], [MaDonHangCT]) VALUES (1, CAST(0x0000AC7400000000 AS DateTime), N'mra', 1, 25000, N'Match Đậu Đỏ', 25000, NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [NgayDatHang], [TaiKhoan], [SoLuongSP], [Total], [TenSanPham], [Gia], [MaDonHangCT]) VALUES (2, CAST(0x0000AC7400000000 AS DateTime), N'mra', 2, 25000, N'Hồng Trà', 25000, NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [NgayDatHang], [TaiKhoan], [SoLuongSP], [Total], [TenSanPham], [Gia], [MaDonHangCT]) VALUES (3, CAST(0x0000AC7400000000 AS DateTime), N'mra', 1, 25000, N'Match Đậu Đỏ', 25000, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
/****** Object:  ForeignKey [FK_DonHang_DonHangChiTiet]    Script Date: 03/30/2021 12:07:06 ******/
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_DonHangChiTiet] FOREIGN KEY([MaDonHangCT])
REFERENCES [dbo].[DonHangChiTiet] ([MaDonHangCT])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_DonHangChiTiet]
GO
/****** Object:  ForeignKey [FK_DonHang_NguoiDung]    Script Date: 03/30/2021 12:07:06 ******/
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[NguoiDung] ([TaiKhoan])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
/****** Object:  ForeignKey [FK__DonHangCh__MaSan__1B0907CE]    Script Date: 03/30/2021 12:07:06 ******/
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK__DonHangCh__MaSan__1B0907CE] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK__DonHangCh__MaSan__1B0907CE]
GO
/****** Object:  ForeignKey [FK__SanPham__MaDanhM__0519C6AF]    Script Date: 03/30/2021 12:07:06 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__MaDanhM__0519C6AF] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhmucSanPham] ([MaDanhmuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__MaDanhM__0519C6AF]
GO
